body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
justify-content: center;
min-height: 100vh;
background-color: black;
}

section {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: rgb(0, 0, 0);
    width: 500px;
    box-shadow: rgba(219, 50, 50, 0.4) 0px 2px 4px, rgba(247, 67, 67, 0.3) 0px 7px 13px -3px, rgba(240, 52, 52, 0.2) 0px -3px 0px inset;
}
section h2 {
    color: white;
    font-size: 2.5rem;
    margin: 2rem;
}
section form {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;

}
form label{
 color: white;
 font-size: 17px;
 margin: bottom 4px;
}

form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}
form input:focus {
    border-radius: 16px;
}
form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0,5s;
}
form textarea:focus {
    border-radius: 16px;

}


form bottom {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid rgb(90, 31, 31);
    color: rgb(90, 30, 30);
    transition: all 1s;
    margin-bottom: 20px;
    
}
form button:hover {
    background: rgb(83, 23, 23);
    color: black;
    border-radius: 16px;
}


/**Pagina do obrigado*/

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(90, 27, 27);
    flex-direction: column;

}
.text{
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
    
}


.paragrafo {
    color: white;
    margin-bottom: 50px;
}


.btn{
padding: 15px 55px;
background: white;
text-decoration: none;
color: rgb(92, 37, 37);
font-size: 18px;
transition: 0,5;
}

.btn:hover{
    border-radius: 16px;

}

h1 {
    color: white;
    font-family:sans-serif;
}
