* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
header div.galeria {
    width: 100%;
    height: 99vh;
    display: grid;
    align-items: center;
    justify-content: baseline;
}

header div.galeria div.single-galeria {
    width: 20%;
    height: 100%;

}






header div.galeria div.single-galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



header div.galeria div.single-galeria div.info{
    position: absolute;
    width: 100%;
    background: linear-gradient rgba(0,0,0,0.8) 65%;
    padding: 100%;
}







h1 {
    color: white;
    font-family: sans-serif;
}
body {
    background-color: black;;
}

